<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"> <!--quer dizer que quando for usado o parâmetro "th", o html vai saber que é referência ao thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Blog Posts</title>
    <!--código pego do site do bootstrap pra poder usar o css dele-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>

        <!--navbar criada com bootstrap-->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">MyCodeBlog</span>
        </nav>
    </header>
    <section>
        <div class = "container" style="width: 60%; padding-bottom: 30px;"></div>

        <!--breadcrumb - serve como link pra voltar pra página anterior - bootstrap-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 10px;">
              <li class="breadcrumb-item active" aria-current="page">Posts</li>
            </ol>
          </nav>

        <!--criando cards onde serão feitos os posts - bootstrap -->
        <!--th:each faz como se fosse um for, repetindo pra todos os posts que estiverem no bd-->
        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post :${posts}"> <!--esse posts vem da lista "posts" criada no Controller-->
            <div class="card-body">
              <p class = "card-subtitle mb-2 text-muted" style = "font-size: 0.8 rem;"> 
                <span th:text="${post.autor}"></span> <!--esse 'post' se refere ao criado acima no for each-->
                <span th:text="${post.data}"></span>
              </p>
              
              <a href="#">
                <h4 class = "card-title" style = "font-weight: bold; color: black; padding-top: 5px;">
                  <span th:text="${post.titulo}"></span> <!--esse 'post' se refere ao criado acima no for each-->
                </h4>
              </a>

              <!--
                - utext porque:
                - #strings.abbreviate(post.texto,400) -> pra mostrar só os primeiros 400 caracteres do texto (substring)
              -->
              <p class = "card-text"><span th:utext=" ${#strings.abbreviate (post.texto,400) } "></span></p>
            </div>
          </div>
    </section>
</body>
</html>